<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="./styles/main.css">
    <title>Farmacia</title>
</head>

<body>
    <div class="container-fluid" id="app">
        <header class="row">
            <div class="encabezado col-12 d-flex justify-content-between">
                <div>
                    <img class="imagenHeader"src="./assets/WhatsApp Image 2021-09-13 at 11.44.06.jpeg" alt="Veterinaria Franco" id="logo"
                        width="100vh">
                </div>
                <div class="text-center">
                    <h1>Veterinaria Franco</h1>
                </div>
                <div>
                    <img class="imagenHeader" src="./assets/silueta-del-perro-del-schnauzer-31038167.png" alt="silueta schnauzer"
                        width="140vh">
                </div>
            </div>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="index.html">Inicio</a>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    Comprar
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="./farmacia.html">Farmacia</a></li>
                                    <li><a class="dropdown-item" href="./juguetes.html">Juguetes</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Favoritos</a></li>
                                </ul>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="contacto.html">Contacto</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <section class="row col-12">
                <div :class="{estrella:producto.esFavorito}" @click="toggleFavorito(producto)" v-for="producto in productosFarmaceuticos" class="card col-3 d-flex justify-items-center  offset-1">
                    
                    <img :src="producto.imagen" class="card-img-top" :alt="producto.nombre">
                    <div class="card-body">
                        <h5 class="card-title">{{producto.nombre}}</h5>
                        <p class="card-text h-20" >{{producto.descripcion}}</p>
                    </div>
                    <ul class="listaCarta list-group list-group-flush">
                        <li class="list-group-item">${{producto.precio}}</li>
                        <li v-if="producto.quedanPocos" class="rojo list-group-item">Ultimas Unidades</li>
                    </ul>
                    <div class="card-body">
                        <span v-show="producto.esFavorito">⭐</span>
                    </div>
                </div>
        </section>
    </div>

    <footer class="container-fluid footer mt-auto py-3 bg-dark">
        <p class="bg-white">Río de Janeiro 300, Caballito, CABA, Argentina</p>       
    </footer>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="./scripts/app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>

</body>

</html>